.more-margin {
    /* margin-top: 50px; */
}

main {
    margin-top: 50px;
}

.bg-mid {
    color: #bb5f09;
    background-color: #ffffff;
    border-color: #bb5f09;
}

.bg-high {
    color: rgb(255, 0, 0);
    background-color: #ffffff;
    border-color: #ff0000;
}

.bg-low {
    color: rgb(214, 182, 0);
    background-color: #ffffff;
    border-color: rgb(214, 182, 0);
}

.bg-emergency {
    color: #fff;
    background-color: #920202;
    border-color: #920202;
}

.img-size {
    width: 30px;
    height: 30px;
}

.btn-size {
    width: 30px;
    height: 30px;
}